.fade {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 8;
    display: none;
}

/*Overflow hidden para impedir scroll*/
.main .postItTop{
    border-radius: 0px;
    width: 400px;
    height: 400px;
}
.modal {    
    display:none;
    z-index: 9;
    width: 600px;
    height: auto;
    background-color: white;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-self: center;
    padding: 40px;
    border-radius: 40px;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.modal-conteudo{
    margin-bottom:30px;
}
.modal-confirmar{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.modal button {
    padding: 8px 15px;
    border: 0;
    border-radius: 10px;
    cursor: pointer
}
.fechar-modal {
    background-color: rgba(215, 215, 215, 0);
    color: rgb(74, 74, 74);
}
.fechar-modal:hover {
    background-color: rgb(213, 213, 213);
    transition: 0.3s;
}
.salvar {
    color: white;
    background-color: rgb(92, 92, 92);
}
.salvar:hover {
    background-color: rgb(129, 129, 129);
    transition: 0.3s;
}

.editar-tarefas {
    font-family: "Poppins";
    height: auto;
    width: 100%;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 10px;
    font-size: 17px;
    padding: 13px 30px;
    white-space: pre-wrap;
    resize: none;
    font-weight: 400;
    box-shadow: 3px 3px 5px rgb(224, 224, 224);
}
