:root {
    --corTextoPostIt: #3f3b00
}
.notas h1 {
    color: rgb(72, 72, 72);
    font-size: 70px;
    font-weight: 800;
}

.campo-notas {
    width: 95%;
    min-height: 800px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 0px;
}

.post-it {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 230px;
    height: 230px;
    background-color: #eee544;
    margin: 15px;
    padding: 30px;
    box-shadow: -3px 3px 20px rgb(182, 182, 182);
}
.post-it:hover .acoes {
    opacity: 1;
}

.cor-select {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    width: 40px;
    height: 30px;
    color: rgb(81, 81, 81);
}

.conteudo-nota {
    max-height: 180px;
    overflow: hidden;
}

.pNota {
    max-height: 150px;
    line-height: 25px;
    color: var(--corTextoPostIt);
    font-size: 18px;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.acoes {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.ver-mais {
    color:var(--corTextoPostIt);
    font-size: 17px;
    cursor: pointer;
}
.modal-quebra{
    white-space: pre-wrap;
    overflow-wrap: break-word;
}
/*
Cores post it: #27b3d9 #fca028 #f44072 #90cf4c #eee544
Cores post it text: #006681 #814900 #730020 #3a7000 #6b6500
*/